# Visualise Cars data with plotly and ipywidgets

In [1]:
# Requirements:
# pip install plotly
# pip install "ipywidgets==7.5"

In [2]:
import pandas as pd
# import fuzzy_pandas as fpd
import numpy as np

import plotly.graph_objects as go
import plotly.express as px
import plotly

#for offline plotting using plotly
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

from ipywidgets import interact, interactive, fixed, interact_manual
from ipywidgets import GridspecLayout
import ipywidgets as widgets

In [3]:
widgets.__version__

'7.5.0'

## Import Data

In [4]:
df = pd.read_csv('data/USA_cars_datasets.csv').head(500)
df.shape

(500, 13)

## Check Data

In [5]:
df.head()

,Unnamed: 0,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,0,6300,toyota,cruiser,2008,clean vehicle,274117.0,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left
1,1,2899,ford,se,2011,clean vehicle,190552.0,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
2,2,5350,dodge,mpv,2018,clean vehicle,39590.0,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left
3,3,25000,ford,door,2014,clean vehicle,64146.0,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
4,4,27700,chevrolet,1500,2018,clean vehicle,6654.0,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left

In [6]:
#Clean data

# Remove first unnamed column
df = df.drop(df.columns[0], axis=1)
df.head()

,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,6300,toyota,cruiser,2008,clean vehicle,274117.0,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left
1,2899,ford,se,2011,clean vehicle,190552.0,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
2,5350,dodge,mpv,2018,clean vehicle,39590.0,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left
3,25000,ford,door,2014,clean vehicle,64146.0,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
4,27700,chevrolet,1500,2018,clean vehicle,6654.0,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left

In [7]:
min_price = df['price'].min()
max_price = df['price'].max()
all_brands = ['all']+sorted(df['brand'].unique())

## Create widgets

In [8]:
# Creates dropdown widget from minimum price to maximum price - This will store our min price filter
price_from = widgets.Dropdown(
    options=np.arange(min_price,max_price+1000,1000),
    value=min_price,
    description='Price From:',
    disabled=False,
    width='100px'
)

# Creates dropdown widget from minimum price to maximum price - This will store our max price filter
price_to = widgets.Dropdown(
    options=np.arange(min_price,max_price+1000,1000),
    value=np.arange(min_price,max_price+1000,1000)[-1],
    description='Price to:',
    disabled=False,
    width='100px'
)

# Creates dropdown widget of all brands
brand = widgets.Dropdown(
    options=all_brands,
    value=all_brands[0],
    description='Brand:',
    disabled=False,
    max_width='100px'
)

# Create container
container_price = widgets.VBox([widgets.HTML(value="<b>Price</b>"),price_from, price_to],justify_content='center',max_width='180px')                            
container_brand = widgets.VBox([widgets.HTML(value="<b>Brand</b>"),brand],justify_content='center',max_width='180px')

# Create grid
grid = GridspecLayout(1, 5, width='900px', height='150px',grid_gap="10px")

grid[0,0] = container_price
grid[0,1] = container_brand

## Create figure

In [9]:
cars_data = []
for index, row in df.iterrows():
    # Each car is a marker on the scatter plot. 
    car = go.Scatter(
        x = (row['mileage'],),
        y = (row['price'],),
        mode='markers',
        marker=dict(
            size=16
        ),
        visible=True,
        hovertext = row['brand']+": (Mileage="+str(row['mileage'])+", Price="+str(row['price'])+")"
    )
    cars_data.append(car)
    
layout = dict(
    title='Cars prices and mileage',
    autosize=True,
    hovermode='closest',
    showlegend=False,
    xaxis_title="Mileage",
    yaxis_title="Price",
    )

fig = go.FigureWidget(data=cars_data, layout=layout)

In [10]:
# This function will be called whenever there is any change in any of the widgets
def response(change):
    
    # Store indices of the cars within the price range
    price_filter = list(np.where((df['price'] > price_from.value) & (df['price'] < price_to.value))[0])
    # Store indices of the brand
    if(brand.value=='all'):
        # Store all the indices
        brand_filter = range(len(cars_data))
    else:
        # Store indices of those cars which belong to the filtered brand
        brand_filter = list(np.where(df['brand'] == brand.value)[0])
        
    #Other possible filters here...
    
    # Store indices of the intersection of all the filters. 
    all_filters =list(set.intersection(set(price_filter), set(brand_filter)))
    
    # Set visibility for those cars at the intersection to true and rest to false
    visibility = [True if i in all_filters else False for i in range(len(cars_data))]
    
    # Update visibility of the plot so only the ones filtered will be true and rest will be false
    fig.plotly_restyle({'visible': visibility})
    
# link changes made in widget to the response function
price_from.observe(response, names="value")
price_to.observe(response, names="value")
brand.observe(response, names="value")

In [11]:
# Plot grid of widgets as well as the figure
widgets.VBox([grid, fig])

VBox(children=(GridspecLayout(children=(VBox(children=(HTML(value='<b>Price</b>'), Dropdown(description='Priceâ€¦